/* Default font size for all screen sizes */
body {
    font-size: 16px;
  }

  /* Reduce font size on screens smaller than 576px (xs) */
  @media (max-width: 575.98px) {
    body {
      font-size: 14px;
    }
  }

  /* Reduce font size on screens smaller than 768px (sm) */
  @media (max-width: 767.98px) {
    body {
      font-size: 12px;
    }
  }

  /* Reduce the logo size on screens smaller than 576px (xs) */
  @media (max-width: 575.98px) {
    .navbar-brand img {
      height: 70px;
      width: 100px;
    }
  }

  /* Reduce the logo size on screens smaller than 768px (sm) */
  @media (max-width: 767.98px) {
    .navbar-brand img {
      height: 60px;
      width: 86px;
    }
  }