@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root{
    --main-color: #f82249;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-color{
    color: var(--main-color);
}

.alternate{
  background-color: transparent;
}

button.btn{
    background-color: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: opacity 0.3s;
}

button.btn:hover{
    border: 1px solid white;
    background-color: rgba(73, 70, 70, 0.514);
    color: white;
}

.head-img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.card{
    border-radius: 10px;
}
.carousel{
    height: auto;
    max-width: 70%;
}
/* Responsive for smaller devices */
@media (max-width: 768px) {
    .carousel {
      max-width: 100%;
    }
  }